html {
    min-height: 100%;

    background: #56ccf2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #56ccf2, #2f80ed); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #56ccf2, #2f80ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #fbfbfe; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fbfbfe, #2f80ed); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fbfbfe, #2f80ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body {
    background: none;
    /*padding-top: 15px;*/
    box-sizing: border-box;
    overflow-x: hidden;
}


.reg{
    max-width: 320px;
    width: 100%;
    padding: 40px 15px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.avatar{
    width: 100%;
    max-width: 300px;
    PADDING: 30px 10px;
    border-radius: 50%;
}

.title{

}
