<link href="/assets/css/registration.css" rel="stylesheet" type="text/css"/>


<section class=" reg">


    <h1 class="title">
        Registration
    </h1>


    <img alt="User" src="/assets/img/user.jpg" class="avatar  avatar--reg">

    <form class="form form--reg" method="POST" action="">
        <input name="login" type="text" class="form-control" placeholder="Login" required autofocus
               maxlength="20" minlength="3">
        <input name="password" type="password" class="form-control" placeholder="Password" required
               maxlength="20"
               minlength="4">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Registration
        </button>
    </form>

    <a href="#login" id="login" class="text-center text-white"> Login </a>

</section>


<script>
    (function ($) {
        console.log("reg");


    })(jQuery);
</script>
