

<div class="profile-usermenu">
    <ul class="nav">
        <li class="">
            <a href="#">
                <i class="glyphicon glyphicon-btc"></i>
                Token Balance </a>
        </li>
        <li class=" ">
            <a href="#">
                <i class="glyphicon glyphicon-piggy-bank"></i>
                Buy tokens </a>
        </li>

        <li class="">
            <a href="/?page=account&page2=account_pays">
                <i class="glyphicon glyphicon-transfer"></i>
                Pays </a>
        </li>
        <li class=" ">
            <a href="#">
                <i class="glyphicon glyphicon-user"></i>
                Profile</a>
        </li>
        <li class=" ">
            <a href="#">
                <i class="glyphicon glyphicon-lock"></i>
                Password
            </a>
        </li>

        <li class=" ">
            <a href="#">
                <i class="glyphicon glyphicon-tint"></i>
                Users
            </a>
        </li>
        <li class="">
            <a href="#">
                <i class="glyphicon glyphicon-cog"></i>
                Settings
            </a>
        </li>

    </ul>
</div>


<!--<div id="navigation"></div>-->
<!--<script>-->


    <!--(function ($) {-->
        <!--$("#navigation").html( template("navigation").render() )-->



    <!--})(jQuery);-->
<!--</script>-->
