<div class="profile-content text-center">
    <h1 data-bind="title">Student page</h1>
    <br>
    <div class="bs-example" data-example-id="panel-without-body-with-table">
        <div class="panel panel-default">
            <div class="panel-heading">Curriculum</div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Subject</th>
                    <th>Teacher</th>
                    <th>Hour</th>
                    <th>Mark</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Math</td>
                    <td>Otto</td>
                    <td>50</td>
                    <td>67</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Computer Saint</td>
                    <td>Thornton</td>
                    <td>40</td>
                    <td>90</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Lit</td>
                    <td>the Bird</td>
                    <td>40</td>
                    <td>75</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
